@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,400,400italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:800);

body{
	font-family: "Merriweather", "Georgia", serif;
	color: #7b7d7e;
	font-size: 112%;
	line-height: 1.7;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1,h2,h3 {
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	font-weight: 300;
	color: #2aa7db;
	margin: 0;
	padding: 0;
}

strong {
	color: #2aa7db;
	font-weight: normal;
}

p {
	margin: 0 0 1.5em;
}

a {
	color: #f7873a;
}

header {
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	padding: 210px 0;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
	text-shadow: 0 2px 2px rgba(0,0,0,0.2);
	position: relative;
}

header h1 {
	font-size: 78px;
	color: #fff;
}

header h2 {
	font-family: "Merriweather", "Georgia", serif;
	font-weight: 300;
	font-style: italic;
	font-size: 20px;
}

header .arrow {
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -13px;
	width: 27px;
	height: 28px;
	background: url(images/arrow.png) no-repeat top center;
}

section {

}

section .wrapper {
	border-bottom: 1px solid #eee;
	max-width: 830px;
	margin: 0 auto;
	display: block;
	padding: 120px 20px;
}

section p {
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
}

section h2 {
	margin: 0 0 1.3em;
}

section em {
	color: #b4c8d5;
}

section.callout {
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	background: #2aa7db;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	font-size: 150%;
	font-weight: 100;
	line-height: normal;
	border-top: 1px solid #3596be;
	border-bottom: 1px solid #3596be;
}

section.callout .wrapper {
	border: none;
}

section.callout p {
	max-width: 25em;
	margin-bottom: 0;
}

section.callout strong {
	color: #fff;
	font-weight: 700;
	display: block;
}

form {
	max-width: 650px;
	margin: 0 auto;
	display: block;
}

form input.name,
form input.email {
	display: block;
	width: 40%;
	border: 1px solid #cfcfcf;
	box-shadow: inset 0 4px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 4px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 4px 4px rgba(0,0,0,0.1);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	float: left;
	margin-bottom: 40px;
	text-align: left;
	padding: 15px 20px;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	color: #96a0a6;
	font-weight: 300;
	font-size: 20px;
}

form input.name.last {
	float: right;
}

form input.submit {
	background: #f7873a;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	font-weight: 700;
	color: #fff;
	border: none;
	font-size: 22px;
	width: 100%;
	line-height: 300%;
	cursor: pointer;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 3px 0 #cd6f38;
	-webkit-box-shadow: 0 3px 0 #cd6f38;
	-moz-box-shadow: 0 3px 0 #cd6f38;
	margin: 0 0 3px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

form input.submit:active {
	margin: 3px 0 0;
	box-shadow: 0 0 0 #cd6f38;
	-webkit-box-shadow: 0 3px 0 #cd6f38;
	-moz-box-shadow: 0 0 0 #cd6f38;
}

footer {
	padding: 90px 20px;
	max-width: 830px;
	margin: 0 auto;
	display: block;
	color: #b4c8d5;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	font-weight: 300;
}

.logo {
	margin: 0 0 100px;
	cursor: default;
}

.logo h2 {
	color: #2aa7db;
	font-weight: 800;
	font-family: "Raleway", serif;
	font-size: 32px;
	line-height: 120%;
}
.logo h3 {
	color: #b4c8d5;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	line-height: 120%;
}

@media 
(-webkit-min-device-pixel-ratio: 1.5) { 
	header .arrow {
		background: url(images/arrow2x.png) no-repeat top center;
		background-size: 100%;
	}
}


#calculator{
  text-align:center;
  font-size:1.3em;
  line-height:1.2em;
  margin:0 auto;
  border-top:1px solid black;
  border-bottom:1px solid black;
  padding-top:1em;
  padding-bottom:1em;
  margin-bottom:2em
}

#calculator .theMoney{
  width:48%;
  float:left;
}

#calculator .theSliders{
  width:48%;
  float:right;
}


#calculator span.data{
  display:block;
  font-weight:bold;
}

#calculator span.data input{
  background:transparent;
  border:0;
  font-size:1em;
  margin:0px;
  padding:0px;
  font-weight:bold;
  border-bottom:1px solid black;
  line-height:1em;
  margin-bottom:0.5em;
}

#calculator span.data input.right{
  text-align:right;
}

#calculator .ui-slider{
  margin-bottom:0.5em;
  font-size:0.5em;
}

#calculator .theMoney{
  font-size:1.7em;
  line-height:1.6em;
  background:#2aa7db;
  color:white;
  border-radius:15px;
}

#calculator .theMoney .small{
  font-size:0.5em;
  line-height:0.5em;
}

#calculator br.clear{
  clear:both;
}
